.content1{
    width: 100px;
    height: 100px;
    background: red;
}

.cont{
    width: 100px;
    height: 10px;
    background: #000;
}

.cont1{
    transform: translateX(20px);
    width: 100px;
    height: 100px;
    background: #000;
}